body {
  font-family: "Lato";
  color: darkblue;
}

html {
  overflow-x: hidden;
}

hr {
  width: 90%;
  background: #eaf2f5;
  height: 2px;
  border: 0px;
  margin-top: 0;
  padding-top: 0;
}

a {
  color: darkblue;
}
.booking-number {
  padding: .5rem;
}
.booking-number-container p {
  font-size: 1em;
}
.navbar-top {
  margin-right: 1.7em;
  margin-bottom: 0;
  padding-bottom: 0;
  justify-content: flex-end;
}

.navbar-top li {
  float: left;
  padding-right: 6px;
  font-size: 15px;
}

.navbar-top i {
  padding-right: 10px;
}

.nav-account {
  padding-right: 3em;
}

.form-control1::-webkit-input-placeholder {
  color: darkblue;
}

.navbar-menu li {
  padding-right: 2em;
  font-size: 0.9em;
}

.navbar-menu li:hover a {
  color: darkblue;
  text-decoration: underline;
  -webkit-text-decoration-color: darkblue;
  text-decoration-color: darkblue;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  font-weight: bold;
}

.carousel-indicators {
  bottom: 12%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 7px;
}

.carousel-caption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: 0;
  top: 48%;
  text-shadow: 0 0 0.18em grey, 0 0 0.18em grey, 0 0 0.18em grey;
}

.carousel-caption p {
  font-size: 1.5em;
}

.carousel-caption a {
  font-size: 1.4em;
  border-width: 0.2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-shadow: inset 0 0 0.18em grey, 0 0 0.18em grey, 0 0 0.18em grey;
  box-shadow: inset 0 0 0.18em grey, 0 0 0.18em grey, 0 0 0.18em grey;
}

.carousel-caption h1 {
  font-size: 2.9em;
}

.jewellery-button {
  color: darkblue;
  border: 1px solid darkblue;
  width: 100%;
  border-radius: 0 0 0.2em 0.2em;
  margin-top: 0.8em;
}

.jewellery-button:hover {
  color: white;
  background-color: darkblue;
}

.heading-sides-line span {
  display: inline-block;
  position: relative;
}

.heading-sides-line span:before,
.heading-sides-line span:after {
  content: "";
  position: absolute;
  height: 25px;
  border-bottom: 2px solid darkblue;
  top: 0;
  width: 45%;
}

.heading-sides-line span:before {
  right: 100%;
  margin-right: 15px;
}

.heading-sides-line span:after {
  left: 100%;
  margin-left: 15px;
}

.cards-footer {
  margin-top: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cards-footer p {
  text-decoration: line-through;
  margin-left: 0.8em;
  margin-top: 0.3em;
}

.card-limousine p {
  text-shadow: 0 0 0.03em grey, 0 0 0.03em grey, 0 0 0.03em gray;
}

.card-limousine h3 {
  text-shadow: 0 0 0.03em grey, 0 0 0.03em grey, 0 0 0.03em gray;
}

.card-limousine a {
  font-size: 0.7em;
  border-width: 0.15em;
  -webkit-box-shadow: inset 0 0 0.03em grey, 0 0 0.03em grey, 0 0 0.03em gray;
  box-shadow: inset 0 0 0.03em grey, 0 0 0.03em grey, 0 0 0.03em gray;
}

.card-limousine .btn {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 0.9em;
}

.card-deck1 {
  margin-top: -3em;
  margin-bottom: 2em;
}

.card-product-description {
  color: gray;
  font-size: 0.85em;
}

.card-content {
  border: 0;
}

.card-product-title {
  margin-bottom: 0;
}

.card-product-body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.card-deck3 {
  padding-top: 3em;
}

.polish-products-button {
  color: white;
  background-color: darkblue;
  width: 100%;
  border-radius: 0 0 0.2em 0.2em;
}

.polish-products-button:hover {
  color: darkblue;
  background-color: white;
  border: 1px solid darkblue;
}

.cards-footer2 {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-polish-description {
  font-size: 0.8em;
  margin: 0.8em;
}

.icons i {
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  font-size: 4em;
  border-radius: 50%;
  padding: 0.4em;
}

.icons .icons-images {
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
  background-color: darkblue;
}

.icons-text {
  text-transform: uppercase;
  background-color: darkblue;
  color: white;
  text-align: center;
  padding-top: 0;
  margin-top: 0.7em;
  padding-bottom: 1em;
}

.new-products-airkiosk-heading span {
  position: relative;
}

.new-products-airkiosk-heading span:before,
.new-products-airkiosk-heading span:after {
  content: "";
  position: absolute;
  height: 15px;
  border-bottom: 2px solid darkblue;
  width: 22%;
}

.new-products-airkiosk-heading span:before {
  right: 100%;
  margin-right: 25px;
}

.new-products-airkiosk-heading span:after {
  left: 100%;
  margin-left: 25px;
}

.carousel-control-prev {
  color: darkblue;
}

.carousel-control-prev i {
  color: darkblue;
  font-size: 30px;
}

.carousel-control-prev:hover {
  color: darkblue;
}

.carousel-control-next {
  color: darkblue;
}

.carousel-control-next i {
  color: darkblue;
  font-size: 30px;
}

.carousel-control-next:hover {
  color: darkblue;
}

.carousel2-image {
  width: auto;
  height: 200px;
}

.new-products-airkiosk-button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  color: white;
  background-color: darkblue;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.new-products-airkiosk-button:hover {
  color: darkblue;
  background-color: white;
  border: 1px solid darkblue;
}

.newsletter {
  background-image: url(images/chmury.jpg);
  background-size: cover;
  height: auto;
  margin-bottom: 3em;
}

.newsletter-icon i {
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  font-size: 4em;
  border-radius: 50%;
  padding: 0.4em;
}

.email-button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  color: white;
  background-color: darkblue;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
}

.email-button:hover {
  color: darkblue;
  background-color: white;
  border: 1px solid darkblue;
}

.form-control2::-webkit-input-placeholder {
  color: grey;
  font-size: small;
}

footer p {
  font-size: small;
  margin: 0;
}

.contact-form {
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
}

.custom-toggler .navbar-toggler {
  border-color: darkblue;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 139)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.social-media i {
  font-size: 1.5em;
}

.social-media a:hover {
  text-decoration: none;
}

.facebook:hover {
  color: darkblue;
}

.visit-us-text:hover {
  cursor: default;
  text-decoration: none;
  color: darkblue;
}

.savings-container {
  width: 100%;
  height: 280px;
  background-image: url("images/skarbonka.jpg");
  background-size: cover;
  background-position: center;
}

.savings-content {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.savings-content-paragraph1 {
  background-color: #dbd9d9;
  color: darkblue;
  height: 100%;
}

.savings-content-paragraph2 {
  color: darkblue;
  height: 100%;
  background-color: #eeebeb;
}
.save-20 {
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.carousel-plane {
  margin-top: 1.2em;
}
/* If the screen size is 701px wide or more, set the font-size of <p> to 22px */
@media screen and (min-width: 701px) {
  .savings-content-paragraph1 p {
    font-size: 22px;
  }
 
}

/* If the screen size is 601px wide or less, set the font-size of <p> to 15px */
@media screen and (max-width: 700px) {
  .savings-content-paragraph1 p {
    font-size: 15px;
  }
}

/* If the screen size is 701px wide or more, set the font-size of <p> to 22px */
@media screen and (min-width: 701px) {
  #sale-paragraph1 {
    font-size: 15px;
  }
  #sale-paragraph2 {
    font-size: 12px;
  }
  .savings-content-paragraph2 div {
    margin-top: 0.6em;
  }
}

/* If the screen size is 601px wide or less, set the font-size of <p> to 15px */
@media screen and (max-width: 700px) {
  #sale-paragraph1 {
    font-size: 13px;
  }
  #sale-paragraph2 {
    font-size: 11px;
  }
  .savings-content-paragraph2 div {
    margin-top: 0.8em;
  }
 
}


@media screen and (max-width: 450px) {
.save-20 {
line-height: 20px;
margin-bottom: 0;
margin-top: 10px;
}
#sale-paragraph1 {
  font-size: 11px;
  text-align: center;
  padding-bottom: 3px;
}
#sale-paragraph2 {
  font-size: 8px;
  text-align: center;
}
.savings-content-paragraph2 div {
  margin-top: 10px;
}
.card-limousine h3 {
  font-size: 20px;
}

.card-limousine p, a {
  font-size: 15px;
}
.social-media a {
  font-size: 14px;
}
.payment {
 box-sizing: content-box;
}
.carousel-caption h1{
font-size: 30px;
}
.carousel-caption p, .carousel-caption a {
  font-size: 20px;
}

.carousel-plane {
  margin-top: 0;
}
.nav-account {
  padding-right: 0;
}
.navbar-top {
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  justify-content: center;
}
.booking-number-container {
  justify-content: space-between;
  padding-top: 6px;

}
.booking-number-container p, .booking-number-container a {
  font-size: 13px;
}
.booking-number {
 margin-top: 10px;
}
hr {
  margin-bottom: 0;
}
}

@media screen and (max-width: 361px) {
 .sale-container {
   padding-left: 0;
   padding-right: 0;
 }
 .payment {
  box-sizing: content-box;
  justify-content: flex-start;
 }

.carousel-plane {
  margin-top: 0;
}

.navbar-top {
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  
}

  .booking-number-container p, .booking-number-container a {
    font-size: 13px;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
 
  .navbar-top li span, a {
    font-size: 12px;
  }
  .nav-account {
    padding-right: 10px;
}
}

