$maincolor: darkblue;
$textshadow: 0 0 0.03em grey, 0 0 0.03em grey, 0 0 0.03em gray;
@mixin skarbonka {
  color: $maincolor;
  height: 100%;
}

body {
  font-family: "Lato";
  color: $maincolor;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
hr {
  width: 90%;
  background: rgb(234, 242, 245);
  height: 2px;
  border: 0px;
  margin-top: 0;
  padding-top: 0;
}

a {
  color: $maincolor;
}

.navbar-top {
  margin-right: 1.7em;
  margin-bottom: 0;
  padding-bottom: 0;

  li {
    float: left;
    padding-right: 6px;
    font-size: 15px;
  }
  i {
    padding-right: 10px;
  }
}

.nav-account {
  padding-right: 3em;
}

.form-control1::-webkit-input-placeholder {
  color: darkblue;
}

.navbar-menu {
  li {
    padding-right: 2em;
    font-size: 0.9em;
  }

  li:hover a {
    color: $maincolor;
    text-decoration: underline;
    text-decoration-color: $maincolor;
    text-decoration-style: solid;
    font-weight: bold;
  }
}

.carousel-indicators {
  bottom: 12%;

  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 7px;
  }
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 48%;
  text-shadow: 0 0 0.18em grey, 0 0 0.18em grey, 0 0 0.18em grey;

  p {
    font-size: 1.5em;
  }

  a {
    font-size: 1.4em;
    border-width: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: inset 0 0 0.18em grey, 0 0 0.18em grey, 0 0 0.18em grey;
  }

  h1 {
    font-size: 2.9em;
  }
}

.visanti-button {
  color: $maincolor;
  border: 1px solid $maincolor;
  width: 100%;
  border-radius: 0 0 0.2em 0.2em;
  margin-top: 0.8em;

  &:hover {
    color: white;
    background-color: $maincolor;
  }
}

.heading-sides-line {
  span {
    display: inline-block;
    position: relative;
  }

  span:before,
  span:after {
    content: "";
    position: absolute;
    height: 25px;
    border-bottom: 2px solid $maincolor;
    top: 0;
    width: 45%;
  }
  span:before {
    right: 100%;
    margin-right: 15px;
  }
  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.cards-footer {
  margin-top: 1.8em;
  display: flex;
  color: grey;
  justify-content: center;

  p {
    text-decoration: line-through;
    margin-left: 0.8em;
    margin-top: 0.3em;
  }
}

.card-limuzyna {
  p {
    text-shadow: $textshadow;
  }
  h3 {
    text-shadow: $textshadow;
  }

  a {
    font-size: 0.7em;
    border-width: 0.15em;
    box-shadow: inset $textshadow;
  }
  .btn {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 0.9em;
  }
}

.card-deck1 {
  margin-top: -3em;
  margin-bottom: 2em;
}

.card-product-description {
  color: gray;
  font-size: 0.85em;
}

.card-content {
  border: 0;
}

.card-product-title {
  margin-bottom: 0;
}

.card-product-body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.card-deck3 {
  padding-top: 3em;
}

.polish-products-button {
  color: white;
  background-color: $maincolor;
  width: 100%;
  border-radius: 0 0 0.2em 0.2em;

  &:hover {
    color: $maincolor;
    background-color: white;
    border: 1px solid $maincolor;
  }
}

.cards-footer2 {
  margin-top: 3em;
  display: flex;
  color: grey;
  justify-content: center;
}

.card-polish-description {
  font-size: 0.8em;
  margin: 0.8em;
}

.icons {
  i {
    margin: 0;
    justify-content: center;
    background-color: white;
    font-size: 4em;
    border-radius: 50%;
    padding: 0.4em;
  }

  .icons-images {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    background-color: $maincolor;
  }
}

.icons-text {
  text-transform: uppercase;
  background-color: $maincolor;
  color: white;
  text-align: center;
  padding-top: 0;
  margin-top: 0.7em;
  padding-bottom: 1em;
}

.novelties-airkiosk-heading {
  span {
    position: relative;
  }
  span:before,
  span:after {
    content: "";
    position: absolute;
    height: 15px;
    border-bottom: 2px solid $maincolor;
    width: 22%;
  }
  span:before {
    right: 100%;
    margin-right: 25px;
  }
  span:after {
    left: 100%;
    margin-left: 25px;
  }
}

.carousel-control-prev {
  color: $maincolor;

  i {
    color: $maincolor;
    font-size: 30px;
  }
  &:hover {
    color: $maincolor;
  }
}

.carousel-control-next {
  color: $maincolor;

  i {
    color: $maincolor;
    font-size: 30px;
  }
  &:hover {
    color: $maincolor;
  }
}

.carousel2-image {
  width: auto;
  height: 200px;
}

.novelties-airkiosk-button {
  justify-content: center;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  color: white;
  background-color: $maincolor;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  margin-top: 2em;
  margin-bottom: 2em;

  &:hover {
    color: $maincolor;
    background-color: white;
    border: 1px solid $maincolor;
  }
}

.newsletter {
  background-image: url(images/chmury.jpg);
  background-size: cover;
  height: auto;
  margin-bottom: 3em;
}

.newsletter-icon {
  i {
    margin: 0;
    justify-content: center;
    background-color: white;
    font-size: 4em;
    border-radius: 50%;
    padding: 0.4em;
  }
}

.email-button {
  justify-content: center;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  color: white;
  background-color: $maincolor;
  border-radius: 0.2em 0.2em 0.2em 0.2em;

  &:hover {
    color: $maincolor;
    background-color: white;
    border: 1px solid $maincolor;
  }
}

.form-control2::-webkit-input-placeholder {
  color: grey;
  font-size: small;
}

footer p {
  font-size: small;
  margin: 0;
}

.contact-form {
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
}

.custom-toggler {
  .navbar-toggler {
    border-color: rgb(0, 0, 139);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 139)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.social-media {
  i {
    font-size: 1.5em;
  }
  a:hover {
    text-decoration: none;
  }
}

.facebook:hover {
  color: $maincolor;
}

.visit-us-text:hover {
  cursor: default;
  text-decoration: none;
  color: $maincolor;
}

.savings-container {
  width: 100%;
  height: 280px;
  background-image: url("images/skarbonka.jpg");
  background-size: cover;
  background-position: center;
}
.savings-content {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.savings-content-paragraph1 {
  background-color: rgb(219, 217, 217);
  @include skarbonka;
}

.savings-content-paragraph2 {
  @include skarbonka;
  background-color: rgb(238, 235, 235);
}

/* If the screen size is 701px wide or more, set the font-size of <p> to 22px */
@media screen and (min-width: 701px) {
  .savings-content-paragraph1 p {
    font-size: 22px;
  }
}

/* If the screen size is 601px wide or less, set the font-size of <p> to 15px */
@media screen and (max-width: 700px) {
  .savings-content-paragraph1 p {
    font-size: 15px;
  }
}

/* If the screen size is 701px wide or more, set the font-size of <p> to 22px */
@media screen and (min-width: 701px) {
  #p1 {
    font-size: 15px;
  }
  #p2 {
    font-size: 12px;
  }
  .savings-content-paragraph2 div {
    margin-top: 0.6em;
  }
}

/* If the screen size is 601px wide or less, set the font-size of <p> to 15px */
@media screen and (max-width: 700px) {
  #p1 {
    font-size: 13px;
  }

  #p2 {
    font-size: 11px;
  }
  .savings-content-paragraph2 div {
    margin-top: 0.8em;
  }
}
